body {
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem 0;
}
.sr-only{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: "Playwrite MX", cursive;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e5e5e5;
}

.header img {
    max-height: 50px;
}

.header .link {
    font-size: 1.2rem;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.header .link:hover {
    color: #000;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    justify-content: space-between; /* Adjust spacing between grid items */
}

.grid-item {
    position: relative;
    margin-bottom: 1.5rem;
    flex-basis: calc(25% - 1.5rem); /* Adjust the width of grid items */
    transition: transform 0.2s ease-in-out;
    overflow: hidden; /* Ensure images don't overflow their containers */
   
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.grid-item__link {
    display: block;
    transition: 150ms all ease-in-out;
}

.grid-item__image {
    width: 100%;
    height: 100%; /* Adjust height to fill the container */
    object-fit: cover; /* Ensure images cover the area without losing aspect ratio */
    display: block;
}

.grid-item__text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.841672) 100%);
    color: white;
    z-index: 1;
}

.grid-item__text h2 {
    margin: 0;
    font-size: 1.5rem;
}

.grid-item__text p {
    margin: 0.5rem 0 0;
    font-size: 1rem;
}

@media only screen and (max-width: 1100px) {
    .grid-item {
        flex-basis: calc(33.333% - 1.5rem);
    }
}

@media only screen and (max-width: 840px) {
    .grid-item {
        flex-basis: calc(50% - 1.5rem);
    }
}

@media only screen and (max-width: 600px) {
    .grid-item {
        flex-basis: 100%;
        margin-right: 0;
    }
}
