/* General styles */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e5e5e5;
}

.header img {
    max-height: 50px;
}

.header .link {
    font-size: 1.2rem;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.header .link:hover {
    color: #000;
}

.sr-only {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-left: 13px;
    font-family: "Playwrite MX", cursive;
}

.box {
    width: 90%;
    gap: 10px;
    margin: 0 auto;
    padding: 16px;
}

.image-list {
    column-count: 3;
    column-gap: 16px;
}

.image-list-item {
    position: relative;
    break-inside: avoid;
    margin-bottom: 16px;
}

.image-list-item img {
    width: 100%;
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p {
    color: #686060;
}

.text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-weight: bold;
    font-size: 1.5rem;
    color: #000;
    background-color: rgba(255, 255, 255, 0.7); /* Added background for better readability */
}

/* Mobile styles */
@media (max-width: 768px) {
    .image-list {
        column-count: 2;
    }

    .text-overlay {
        font-size: 1.2rem;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header p {
        align-self: flex-end; /* Aligns the <p> tag to the end */
        margin: 0px;
        margin-bottom: 0px;
    }

    .header h1 {
        align-self: flex-start; /* Aligns the <p> tag to the end */
        margin-top: 10px;
        
    }
    .image-list {
        column-count: 1;
    }

    .text-overlay {
        font-size: 1rem;
        padding: 8px;
    }
}
